#msg-box4-4f .mbr-header__text {
  color: #ffffff;
}
#msg-box4-4f .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-4f .mbr-article {
  color: #ffffff;
}
#msg-box4-4f .mbr-article P {
  font-size: 19px;
  color: #3b3b3b;
}
#features1-4q .mbr-section__col .mbr-header__text {
  text-align: center;
}
#features1-4q P {
  text-align: left;
}
#features1-4q .mbr-section-title .mbr-header__text {
  text-align: center;
}
#features1-4q .mbr-header__subtext {
  text-align: left;
}
#features1-4q .mbr-header__subtext SPAN {
  font-size: 16px;
}
#content5-79 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-79 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-79 .mbr-article {
  color: #fff;
}
#slider-1h P {
  text-align: left;
  font-size: 21px;
}
#slider-1h H1 {
  text-align: left;
  font-size: 36px;
}
#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #79b1b8;
}
#ext_menu-0 .mbr-navbar__section {
  background: #79b1b8;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-0 .mbr-brand__name a {
  font-size: 10px;
}
#msg-box2-3q .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-3q .mbr-article {
  color: #252525;
}
#features1-34 .mbr-section-title .mbr-header__text {
  font-size: 16px;
  text-align: left;
}
#features1-34 .mbr-section__col .mbr-header__text {
  text-align: left;
  font-size: 12px;
}
#footer1-s P {
  color: #252525;
}
#ext_menu-a .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-a.mbr-navbar--stuck .mbr-navbar__section {
  background: #79b1b8;
}
#ext_menu-a .mbr-navbar__section {
  background: #79b1b8;
}
#ext_menu-a .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-a .mbr-brand__name a {
  font-size: 10px;
}
#msg-box2-3e .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-3e .mbr-article {
  color: #252525;
}
#features1-6i .mbr-section-title .mbr-header__text {
  font-size: 16px;
  text-align: left;
}
#features1-6i .mbr-section__col .mbr-header__text {
  text-align: left;
  font-size: 12px;
}
#footer1-i P {
  color: #252525;
}
#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #79b1b8;
}
#ext_menu-0 .mbr-navbar__section {
  background: #79b1b8;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-0 .mbr-brand__name a {
  font-size: 10px;
}
#msg-box4-52 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-52 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-52 .mbr-article {
  color: #ffffff;
}
#msg-box4-52 .mbr-article P {
  font-size: 18px;
}
#features1-1q .mbr-section__col .mbr-header__text {
  text-align: center;
}
#features1-1q P {
  text-align: left;
}
#features1-1q .mbr-section-title .mbr-header__text {
  text-align: center;
}
#features1-1q .mbr-header__subtext {
  text-align: left;
}
#features1-1q .mbr-header__subtext SPAN {
  font-size: 16px;
}
#msg-box2-3g .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-3g .mbr-article {
  color: #252525;
}
#features1-6d .mbr-section-title .mbr-header__text {
  font-size: 16px;
  text-align: left;
}
#features1-6d .mbr-section__col .mbr-header__text {
  text-align: left;
  font-size: 12px;
}
#footer1-1p P {
  color: #252525;
}
#ext_menu-1v .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-1v.mbr-navbar--stuck .mbr-navbar__section {
  background: #79b1b8;
}
#ext_menu-1v .mbr-navbar__section {
  background: #79b1b8;
}
#ext_menu-1v .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-1v .mbr-brand__name a {
  font-size: 10px;
}
#msg-box2-3h .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-3h .mbr-article {
  color: #252525;
}
#features1-6e .mbr-section-title .mbr-header__text {
  font-size: 16px;
  text-align: left;
}
#features1-6e .mbr-section__col .mbr-header__text {
  text-align: left;
  font-size: 12px;
}
#footer1-22 P {
  color: #252525;
}
#ext_menu-3t .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-3t.mbr-navbar--stuck .mbr-navbar__section {
  background: #79b1b8;
}
#ext_menu-3t .mbr-navbar__section {
  background: #79b1b8;
}
#ext_menu-3t .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-3t .mbr-brand__name a {
  font-size: 10px;
}
#msg-box5-49 .mbr-header__text {
  color: #ffffff;
  font-size: 36px;
}
#msg-box5-49 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-49 .mbr-article {
  color: #ffffff;
}
#msg-box5-49 .mbr-article P {
  font-size: 20px;
}
#msg-box2-44 .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-44 .mbr-article {
  color: #252525;
}
#features1-6h .mbr-section-title .mbr-header__text {
  font-size: 16px;
  text-align: left;
}
#features1-6h .mbr-section__col .mbr-header__text {
  text-align: left;
  font-size: 12px;
}
#footer1-46 P {
  color: #252525;
}
#ext_menu-j .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-j.mbr-navbar--stuck .mbr-navbar__section {
  background: #79b1b8;
}
#ext_menu-j .mbr-navbar__section {
  background: #79b1b8;
}
#ext_menu-j .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-j .mbr-brand__name a {
  font-size: 10px;
}
#msg-box4-54 .mbr-header__text {
  color: #ffffff;
  font-size: 72px;
}
#msg-box4-54 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-54 .mbr-article {
  color: #ffffff;
}
#msg-box5-4l .mbr-header__text {
  color: #ffffff;
  font-size: 36px;
}
#msg-box5-4l .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-4l .mbr-article {
  color: #ffffff;
}
#msg-box5-4l .mbr-article P {
  font-size: 20px;
}
#msg-box2-3i .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-3i .mbr-article {
  color: #252525;
}
#features1-6f .mbr-section-title .mbr-header__text {
  font-size: 16px;
  text-align: left;
}
#features1-6f .mbr-section__col .mbr-header__text {
  text-align: left;
  font-size: 12px;
}
#footer1-s P {
  color: #252525;
}
#ext_menu-6j .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-6j.mbr-navbar--stuck .mbr-navbar__section {
  background: #79b1b8;
}
#ext_menu-6j .mbr-navbar__section {
  background: #79b1b8;
}
#ext_menu-6j .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-6j .mbr-brand__name a {
  font-size: 10px;
}
#msg-box4-6k .mbr-header__text {
  color: #ffffff;
  font-size: 72px;
}
#msg-box4-6k .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-6k .mbr-article {
  color: #ffffff;
}
#content5-92 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-92 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-92 .mbr-article {
  color: #fff;
}
#msg-box2-6o .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-6o .mbr-article {
  color: #252525;
}
#features1-6p .mbr-section-title .mbr-header__text {
  font-size: 16px;
  text-align: left;
}
#features1-6p .mbr-section__col .mbr-header__text {
  text-align: left;
  font-size: 12px;
}
#footer1-6q P {
  color: #252525;
}
#ext_menu-7p .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-7p.mbr-navbar--stuck .mbr-navbar__section {
  background: #79b1b8;
}
#ext_menu-7p .mbr-navbar__section {
  background: #79b1b8;
}
#ext_menu-7p .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-7p .mbr-brand__name a {
  font-size: 10px;
}
#msg-box4-7q .mbr-header__text {
  color: #ffffff;
  font-size: 72px;
}
#msg-box4-7q .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-7q .mbr-article {
  color: #ffffff;
}
#features1-8b .mbr-section__col .mbr-header__text {
  text-align: left;
}
#msg-box5-86 .mbr-header__text {
  color: #ffffff;
  font-size: 36px;
}
#msg-box5-86 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-86 .mbr-article {
  color: #ffffff;
}
#msg-box5-86 .mbr-article P {
  font-size: 20px;
}
#msg-box2-87 .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-87 .mbr-article {
  color: #252525;
}
#features1-88 .mbr-section-title .mbr-header__text {
  font-size: 16px;
  text-align: left;
}
#features1-88 .mbr-section__col .mbr-header__text {
  text-align: left;
  font-size: 12px;
}
#footer1-89 P {
  color: #252525;
}
#ext_menu-8l .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-8l.mbr-navbar--stuck .mbr-navbar__section {
  background: #79b1b8;
}
#ext_menu-8l .mbr-navbar__section {
  background: #79b1b8;
}
#ext_menu-8l .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-8l .mbr-brand__name a {
  font-size: 10px;
}
#msg-box4-8p .mbr-header__text {
  color: #ffffff;
  font-size: 72px;
}
#msg-box4-8p .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-8p .mbr-article {
  color: #ffffff;
}
#msg-box4-8q .mbr-header__text {
  color: #252525;
}
#msg-box4-8q .mbr-header__subtext {
  color: #252525;
}
#msg-box4-8q .mbr-article {
  color: #ffffff;
}
#msg-box4-8q .mbr-article P {
  color: #777777;
}
#msg-box4-8r .mbr-header__text {
  color: #252525;
}
#msg-box4-8r .mbr-header__subtext {
  color: #252525;
}
#msg-box4-8r .mbr-article {
  color: #ffffff;
}
#msg-box4-8r .mbr-article P {
  color: #777777;
}
#msg-box2-8x .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-8x .mbr-article {
  color: #252525;
}
#features1-8y .mbr-section-title .mbr-header__text {
  font-size: 16px;
  text-align: left;
}
#features1-8y .mbr-section__col .mbr-header__text {
  text-align: left;
  font-size: 12px;
}
#footer1-8z P {
  color: #252525;
}
#ext_menu-93 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-93.mbr-navbar--stuck .mbr-navbar__section {
  background: #79b1b8;
}
#ext_menu-93 .mbr-navbar__section {
  background: #79b1b8;
}
#ext_menu-93 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-93 .mbr-brand__name a {
  font-size: 10px;
}
#msg-box2-9c .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-9c .mbr-article {
  color: #252525;
}
#features1-9d .mbr-section-title .mbr-header__text {
  font-size: 16px;
  text-align: left;
}
#features1-9d .mbr-section__col .mbr-header__text {
  text-align: left;
  font-size: 12px;
}
#footer1-9e P {
  color: #252525;
}
#ext_menu-9x .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-9x.mbr-navbar--stuck .mbr-navbar__section {
  background: #79b1b8;
}
#ext_menu-9x .mbr-navbar__section {
  background: #79b1b8;
}
#ext_menu-9x .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-9x .mbr-brand__name a {
  font-size: 10px;
}
#msg-box2-a0 .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-a0 .mbr-article {
  color: #252525;
}
#features1-a1 .mbr-section-title .mbr-header__text {
  font-size: 16px;
  text-align: left;
}
#features1-a1 .mbr-section__col .mbr-header__text {
  text-align: left;
  font-size: 12px;
}
#footer1-a2 P {
  color: #252525;
}
