@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);


#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #79b1b8;
}
#ext_menu-0 .mbr-navbar__section {
  background: #79b1b8;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-0 .mbr-brand__name a {
  font-size: 10px;
}
#header1-1 H1 {
  color: #ffffff;
  font-family: 'PT Sans', sans-serif;
  text-align: left;
}
#header1-1 P {
  font-family: 'PT Sans', sans-serif;
  color: #ffffff;
  font-size: 20px;
  text-align: left;
}
#slider-1h P {
  text-align: center;
}
#msg-box2-3f .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-3f .mbr-article {
  color: #252525;
}
#features1-34 .mbr-section-title .mbr-header__text {
  font-size: 16px;
  text-align: left;
}
#features1-34 .mbr-section__col .mbr-header__text {
  text-align: left;
  font-size: 12px;
}
#footer1-s P {
  color: #252525;
}
#ext_menu-j .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-j.mbr-navbar--stuck .mbr-navbar__section {
  background: #79b1b8;
}
#ext_menu-j .mbr-navbar__section {
  background: #79b1b8;
}
#ext_menu-j .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-j .mbr-brand__name a {
  font-size: 10px;
}
#msg-box2-3i .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-3i .mbr-article {
  color: #252525;
}
#features1-18 .mbr-section-title .mbr-header__text {
  font-size: 16px;
  text-align: left;
}
#features1-18 .mbr-section__col .mbr-header__text {
  text-align: left;
  font-size: 12px;
}
#footer1-s P {
  color: #252525;
}
#ext_menu-a .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-a.mbr-navbar--stuck .mbr-navbar__section {
  background: #79b1b8;
}
#ext_menu-a .mbr-navbar__section {
  background: #79b1b8;
}
#ext_menu-a .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-a .mbr-brand__name a {
  font-size: 10px;
}
#msg-box2-3e .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-3e .mbr-article {
  color: #252525;
}
#features1-37 .mbr-section-title .mbr-header__text {
  font-size: 16px;
  text-align: left;
}
#features1-37 .mbr-section__col .mbr-header__text {
  text-align: left;
  font-size: 12px;
}
#footer1-i P {
  color: #252525;
}
#ext_menu-1i .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-1i.mbr-navbar--stuck .mbr-navbar__section {
  background: #79b1b8;
}
#ext_menu-1i .mbr-navbar__section {
  background: #79b1b8;
}
#ext_menu-1i .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-1i .mbr-brand__name a {
  font-size: 10px;
}
#features1-1q .mbr-section__col .mbr-header__text {
  text-align: center;
}
#features1-1q P {
  text-align: left;
}
#features1-1q .mbr-section-title .mbr-header__text {
  text-align: center;
}
#features1-1q .mbr-header__subtext {
  text-align: left;
}
#features1-1q .mbr-header__subtext SPAN {
  font-size: 16px;
}
#msg-box2-3g .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-3g .mbr-article {
  color: #252525;
}
#features1-35 .mbr-section-title .mbr-header__text {
  font-size: 16px;
  text-align: left;
}
#features1-35 .mbr-section__col .mbr-header__text {
  text-align: left;
  font-size: 12px;
}
#footer1-1p P {
  color: #252525;
}
#ext_menu-1v .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-1v.mbr-navbar--stuck .mbr-navbar__section {
  background: #79b1b8;
}
#ext_menu-1v .mbr-navbar__section {
  background: #79b1b8;
}
#ext_menu-1v .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-1v .mbr-brand__name a {
  font-size: 10px;
}
#msg-box2-3h .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-3h .mbr-article {
  color: #252525;
}
#features1-36 .mbr-section-title .mbr-header__text {
  font-size: 16px;
  text-align: left;
}
#features1-36 .mbr-section__col .mbr-header__text {
  text-align: left;
  font-size: 12px;
}
#footer1-22 P {
  color: #252525;
}
