/*-----------------------------------------------------------------------------------
	    turing-backup
        Built with Blocs
-----------------------------------------------------------------------------------*/

body{
	margin:0;
	padding:0;
    background:#FFF;
    overflow-x:hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a,button{transition: all .3s ease-in-out;outline: none!important;} /* Prevent ugly blue glow on chrome and safari */
a:hover{text-decoration: none; cursor:pointer;}

#page-loading-blocs-notifaction{position: fixed;top: 0;bottom: 0;width: 100%;z-index:100000;background:#FFFFFF url("img/pageload-spinner.gif") no-repeat center center;}

/* = Blocs
-------------------------------------------------------------- */

.bloc{
	width:100%;
	clear:both;
	background: 50% 50% no-repeat;
	padding:0 50px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position:relative;
}
.bloc .container{
	padding-left:0;
	padding-right:0;
}


/* Sizes */

.bloc-xxl{
	padding:200px 50px;
}
.bloc-lg{
	padding:100px 50px;
}
.bloc-md{
	padding:50px;
}
.bloc-sm{
	padding:20px 50px;
}

/* = Full Width Blocs 
-------------------------------------------------------------- */

.full-width-bloc{
	padding-left:0;
	padding-right:0;
}
.full-width-bloc .container{
	width:100%;
	max-width:100%!important;
}
.full-width-bloc .carousel img{
	width:100%;
	height:auto;
}
.full-width-bloc .navbar{
	margin-left: 0px;
	margin-right: 0px;
}


/* Group Styles */

.bloc-group{
	display:flex;
}
.bloc-tile-2{
	width:50%;
}
.bloc-tile-3{
	width:33.33333333%;
}
.bloc-tile-4{
	width:25%;
}
.bloc-tile-2 .container, .bloc-tile-3 .container, .bloc-tile-4 .container{
	width:100%;
}


/* Background Textures */

.bloc-bg-texture::before{
	content:"";
	background-size: 2px 2px;
	position: absolute;
	top: 0;
	bottom: 0;
	left:0;
	right:0;
}
.texture-diagonal-lines::before{
	background: url("img/texture-diag-lines.png");
	background-size: 10px 10px;
}
.texture-darken::before{
	background: rgba(0,0,0,0.5);
}
.texture-darken-strong::before{
	background: rgba(0,0,0,0.8);
}


/* Background Effects */

.b-parallax{
	background-attachment:fixed;
}


/* Dark theme */

.d-bloc{
	color:rgba(255,255,255,.7);
}
.d-bloc button:hover{
	color:rgba(255,255,255,.9);
}
.d-bloc .icon-round,.d-bloc .icon-square,.d-bloc .icon-rounded,.d-bloc .icon-semi-rounded-a,.d-bloc .icon-semi-rounded-b{
	border-color:rgba(255,255,255,.9);
}
.d-bloc .divider-h span{
	border-color:rgba(255,255,255,.2);
}
.d-bloc .a-btn,.d-bloc .navbar a,.d-bloc .navbar-brand, .d-bloc a .icon-sm, .d-bloc a .icon-md, .d-bloc a .icon-lg, .d-bloc a .icon-xl, .d-bloc h1 a, .d-bloc h2 a, .d-bloc h3 a, .d-bloc h4 a, .d-bloc h5 a, .d-bloc h6 a, .d-bloc p a{
	color:rgba(255,255,255,.6);
}
.d-bloc .a-btn:hover,.d-bloc .navbar a:hover,.d-bloc .navbar-brand:hover,.d-bloc a:hover .icon-sm, .d-bloc a:hover .icon-md, .d-bloc a:hover .icon-lg, .d-bloc a:hover .icon-xl, .d-bloc h1 a:hover, .d-bloc h2 a:hover, .d-bloc h3 a:hover, .d-bloc h4 a:hover, .d-bloc h5 a:hover, .d-bloc h6 a:hover, .d-bloc p a:hover{
	color:rgba(255,255,255,1);
}
.d-bloc .navbar-toggle .icon-bar{
	background:rgba(255,255,255,1);
}
.d-bloc .btn-wire,.d-bloc .btn-wire:hover{
	color:rgba(255,255,255,1);
	border-color:rgba(255,255,255,1);
}
.d-bloc .panel{
	color:rgba(0,0,0,.5);
}
.d-bloc .panel button:hover{
	color:rgba(0,0,0,.7);
}
.d-bloc .panel icon{
	border-color:rgba(0,0,0,.7);
}
.d-bloc .panel .divider-h span{
	border-color:rgba(0,0,0,.1);
}
.d-bloc .panel .a-btn{
	color:rgba(0,0,0,.6);
}
.d-bloc .panel .a-btn:hover{
	color:rgba(0,0,0,1);
}
.d-bloc .panel .btn-wire, .d-bloc .panel .btn-wire:hover{
	color:rgba(0,0,0,.7);
	border-color:rgba(0,0,0,.3);
}


/* Light theme */

.d-bloc .panel,.l-bloc{
	color:rgba(0,0,0,.5);
}
.d-bloc .panel button:hover,.l-bloc button:hover{
	color:rgba(0,0,0,.7);
}
.l-bloc .icon-round,.l-bloc .icon-square,.l-bloc .icon-rounded,.l-bloc .icon-semi-rounded-a,.l-bloc .icon-semi-rounded-b{
	border-color:rgba(0,0,0,.7);
}
.d-bloc .panel .divider-h span,.l-bloc .divider-h span{
	border-color:rgba(0,0,0,.1);
}
.d-bloc .panel .a-btn,.l-bloc .a-btn,.l-bloc .navbar a,.l-bloc .navbar-brand,.l-bloc a .icon-sm, .l-bloc a .icon-md, .l-bloc a .icon-lg, .l-bloc a .icon-xl, .l-bloc h1 a, .l-bloc h2 a, .l-bloc h3 a, .l-bloc h4 a, .l-bloc h5 a, .l-bloc h6 a, .l-bloc p a{
	color:rgba(0,0,0,.6);
}
.d-bloc .panel .a-btn:hover,.l-bloc .a-btn:hover,.l-bloc .navbar a:hover, .l-bloc .navbar-brand:hover, .l-bloc a:hover .icon-sm, .l-bloc a:hover .icon-md, .l-bloc a:hover .icon-lg, .l-bloc a:hover .icon-xl, .l-bloc h1 a:hover, .l-bloc h2 a:hover, .l-bloc h3 a:hover, .l-bloc h4 a:hover, .l-bloc h5 a:hover, .l-bloc h6 a:hover, .l-bloc p a:hover{
	color:rgba(0,0,0,1);
}
.l-bloc .navbar-toggle .icon-bar{
	color:rgba(0,0,0,.6);
}
.d-bloc .panel .btn-wire,.d-bloc .panel .btn-wire:hover,.l-bloc .btn-wire,.l-bloc .btn-wire:hover{
	color:rgba(0,0,0,.7);
	border-color:rgba(0,0,0,.3);
}

/* Row Margin Offsets */

.voffset{
	margin-top:30px;
}

/* Bloc text custom styling */

#bloc-1 h3{
	font-size: 22px;
	line-height: 28px;
}
#bloc-2 h4{
	font-size: 23px;
	line-height: 24px;
}
#bloc-3 h3{
	font-size: 23px;
}
#bloc-3 p{
	font-size: 18px;
	line-height: 26px;
}
#bloc-4 h4{
	font-size: 40px;
	line-height: 24px;
}
#bloc-4 p{
	font-size: 20px;
	line-height: 28px;
}
#bloc-7 h3{
	font-size: 22px;
	line-height: 28px;
}
#bloc-9 h2{
	font-size: 80px;
}
#bloc-9 h6{
	font-size: 20px;
	line-height: 20px;
}
#bloc-10 h3{
	font-size: 22px;
	line-height: 28px;
}
#bloc-17 h2{
	font-size: 47px;
	line-height: 50px;
}
#bloc-17 p{
	font-size: 20px;
}
#bloc-20 h4{
	font-size: 50px;
	line-height: 66px;
}
#bloc-20 p{
	font-size: 18px;
	line-height: 26px;
}
#bloc-20 p{
	font-family: Roboto;
	font-size: 18px;
	line-height: 26px;
}
#bloc-22 h4{
	font-size: 50px;
	line-height: 66px;
}
#bloc-22 p{
	font-size: 18px;
	line-height: 26px;
}
#bloc-22 p{
	font-family: Roboto;
	font-size: 18px;
	line-height: 26px;
}
#bloc-24 h4{
	font-size: 50px;
	line-height: 66px;
}
#bloc-24 p{
	font-size: 18px;
	line-height: 26px;
}
#bloc-24 p{
	font-family: Roboto;
	font-size: 18px;
	line-height: 26px;
}
#bloc-26 p{
	font-size: 15px;
}
#bloc-28 h4{
	font-size: 50px;
	line-height: 66px;
}
#bloc-28 p{
	font-size: 18px;
	line-height: 26px;
}
#bloc-28 p{
	font-family: Roboto;
	font-size: 18px;
	line-height: 26px;
}
#bloc-30 h4{
	font-size: 50px;
	line-height: 66px;
}
#bloc-30 p{
	font-size: 18px;
	line-height: 26px;
}
#bloc-30 p{
	font-family: Roboto;
	font-size: 18px;
	line-height: 26px;
}
#bloc-32 h4{
	font-size: 50px;
	line-height: 66px;
}
#bloc-32 p{
	font-size: 18px;
	line-height: 26px;
}
#bloc-32 p{
	font-family: Roboto;
	font-size: 18px;
	line-height: 26px;
}
#bloc-33 h2{
	font-size: 47px;
	line-height: 40px;
}
#bloc-33 p{
	font-size: 20px;
	line-height: 23px;
}
#bloc-35 h4{
	font-size: 50px;
	line-height: 66px;
}
#bloc-35 p{
	font-size: 18px;
	line-height: 26px;
}
#bloc-35 p{
	font-family: Roboto;
	font-size: 18px;
	line-height: 26px;
}
#bloc-37 h4{
	font-size: 50px;
	line-height: 66px;
}
#bloc-37 p{
	font-size: 18px;
	line-height: 26px;
}
#bloc-37 p{
	font-family: Roboto;
	font-size: 18px;
	line-height: 26px;
}
#bloc-39 h4{
	font-size: 50px;
	line-height: 66px;
}
#bloc-39 p{
	font-size: 18px;
	line-height: 26px;
}
#bloc-39 p{
	font-family: Roboto;
	font-size: 18px;
	line-height: 26px;
}
#bloc-41 h3{
	font-size: 25px;
	line-height: 30px;
}
#bloc-42 h3{
	font-size: 25px;
	line-height: 30px;
}
#bloc-43 h3{
	font-size: 25px;
	line-height: 30px;
}
#bloc-44 h3{
	font-size: 25px;
	line-height: 30px;
}
#bloc-45 h3{
	font-size: 25px;
	line-height: 30px;
}
#bloc-46 h3{
	font-size: 25px;
	line-height: 30px;
}
#bloc-47 h3{
	font-size: 25px;
	line-height: 30px;
}
#bloc-48 h3{
	font-size: 25px;
	line-height: 30px;
}
#bloc-49 h3{
	font-size: 25px;
	line-height: 30px;
}
#bloc-50 h3{
	font-size: 25px;
	line-height: 30px;
}
#bloc-51 h3{
	font-size: 25px;
	line-height: 30px;
}
#bloc-52 h3{
	font-size: 25px;
	line-height: 30px;
}
#bloc-54 h4{
	font-size: 50px;
	line-height: 66px;
}
#bloc-54 p{
	font-size: 18px;
	line-height: 26px;
}
#bloc-54 p{
	font-family: Roboto;
	font-size: 18px;
	line-height: 26px;
}
#bloc-56 h4{
	font-size: 50px;
	line-height: 66px;
}
#bloc-56 p{
	font-size: 18px;
	line-height: 26px;
}
#bloc-56 p{
	font-family: Roboto;
	font-size: 18px;
	line-height: 26px;
}
#bloc-58 h4{
	font-size: 50px;
	line-height: 66px;
}
#bloc-58 p{
	font-size: 18px;
	line-height: 26px;
}
#bloc-58 p{
	font-family: Roboto;
	font-size: 18px;
	line-height: 26px;
}
#bloc-60 h4{
	font-size: 50px;
	line-height: 66px;
}
#bloc-60 p{
	font-size: 18px;
	line-height: 26px;
}
#bloc-60 p{
	font-family: Roboto;
	font-size: 18px;
	line-height: 26px;
}
#bloc-61 h3{
	font-size: 30px;
}
#bloc-64 p{
	font-size: 13px;
	line-height: 26px;
}

/* = NavBar
-------------------------------------------------------------- */

.navbar{
	margin-bottom: 0;
	z-index:1;
}
.navbar-brand{
	height:auto;
	padding:3px 15px;
	font-size:25px;
	font-weight:normal;
	font-weight:600;
	line-height:44px;
}
.navbar-brand img{
	max-height: 200px;
	margin: 0 5px 0 0;
	display:inline;
}
.nav-center .navbar-brand img{
	margin:0;
}
.navbar .nav{
	padding-top: 2px;
	margin-right: -16px;
	float:right;
	z-index:1;
}
.nav > li{
	float:left;
	margin-top:4px;
	font-size:16px;
}
.navbar-nav .open .dropdown-menu > li > a{
	text-align: inherit;
}
.nav > li a:hover, .nav > li a:focus{
	background:transparent;
}
.navbar-toggle{
	margin: 10px 10px 0 0;
	border: 0px;
}
.navbar-toggle:hover{
	background:transparent!important;
}
.navbar-toggle .icon-bar{
	background-color: rgba(0,0,0,.5);
	width: 26px;
}
 /* Inverted navbar */

.nav-invert .navbar .nav{
	float:left;
}
.nav-invert .navbar-header, .nav-invert .navbar-brand{
	float:right;
	position:relative;
	z-index:2;
}
@media (min-width: 768px){
	.site-navigation{
		position:absolute;
		top:50%;
		right:20px;
		transform:translate(0, -50%);
		-webkit-transform:translateY(-50%);
	}
	.nav > li .dropdown-menu a,.nav > li .dropdown-menu a:hover{
		color:#484848;
	}
	.nav-invert .site-navigation{
		left:0;
		right:0;
	}
	.nav-center{
		text-align:center;
	}
	.nav-center .navbar-header{
		width:100%;
	}
	.nav-center .navbar-header, .nav-center .navbar-brand, .nav-center .nav > li{
		float: none;
		display:inline-block;
	}
	.nav-center .site-navigation{
		position:relative;
		width:100%;
		right:0;
		margin-right:0px;
		margin-top:20px;
	}
.nav-center.mini-nav .navbar-toggle{
	float:none;
	margin: 10px auto 0;
	}
}
.nav > li > .dropdown a{
	background: none!important;
	display: block;
	padding: 14px 15px;
}

nav .caret{
	margin: 0 5px;
}
/* Dropdown Menus SubMenu */
	.dropdown-menu .dropdown-menu{
	top:-8px;
	left:100%;
}
.dropdown-menu .dropmenu-flow-right{
	top:100%;
	left:0;
	margin-left: -1px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.dropdown-menu .dropdown span{
	border: 4px solid black;
	border-top-color:transparent;
	border-right-color:transparent;
	border-bottom-color:transparent;
	margin: 6px -5px 0 0!important;
	float: right;
}

/* = Bric adjustment margins
-------------------------------------------------------------- */

.mg-clear{
	margin:0;
}
.mg-sm{
	margin-top:10px;
	margin-bottom:5px;
}
.mg-md{
	margin-top:10px;
	margin-bottom:20px;
}
.mg-lg{
	margin-top:10px;
	margin-bottom:40px;
}
img.mg-sm,img.mg-md,img.mg-lg{
	margin-top: 0;
}
img.mg-sm{
	margin-bottom:10px;
}
img.mg-md{
	margin-bottom:30px;
}
img.mg-lg{
	margin-bottom:50px;
}

/* = Buttons
-------------------------------------------------------------- */

.btn{
	margin: 0 5px 5px 0;
}
.btn.pull-right{
	margin: 0 0 5px 5px;
}
.btn-d,.btn-d:hover,.btn-d:focus{
	color:#FFF;
	background:rgba(0,0,0,.3);
}

/* Prevent ugly blue glow on chrome and safari */
button{
	outline: none!important;
}

.btn-xl{
	padding: 16px 40px;
	font-size: 28px;
}

/* = Icons
-------------------------------------------------------------- */
.icon-md{
	font-size:30px!important;
}
.icon-xl{
	font-size:100px!important;
}
.icon-semi-rounded-b{
	margin:0 auto;
	border:2px solid transparent;
	border-radius: 0 20px;
	padding: 32px 30px 26px 30px;
	min-width:80px;
}
.icon-round.icon-md,.icon-square.icon-md,.icon-rounded.icon-md{
	min-width: 92px;
}
.icon-round.icon-lg,.icon-square.icon-lg,.icon-rounded.icon-lg{
	min-width: 122px;
}
.icon-round.icon-xl,.icon-square.icon-xl,.icon-rounded.icon-xl{
	min-width: 162px;
}


/* = Text Widths
-------------------------------------------------------------- */
.text-w-80{
	max-width:80%;
}
.text-w-70{
	max-width:70%;
}
.text-center.text-w-sm, .text-center.text-w-md, .text-center.text-w-lg, .text-center.text-w-90, .text-center.text-w-80, .text-center.text-w-70, .text-center.text-w-60, .text-center.text-w-50{
	margin-left: auto;
	margin-right: auto;
}


.panel-sq, .panel-sq .panel-heading, .panel-sq .panel-footer{
	border-radius:0;
}
.panel-rd{
	border-radius:30px;
}
.panel-rd .panel-heading{
	border-radius:29px 29px 0 0;
}
.panel-rd .panel-footer{
	border-radius:0 0 29px 29px;
}

/* = Dividers
-------------------------------------------------------------- */
.divider-h{
	padding:20px 0;
}
.divider-h span{
	display: block;
	border-top:1px solid transparent;
}
.divider-half{
	width: 50%;
	margin: 0 auto;
}
.dropdown-menu .divider-h,.dropdown-menu .divider-half{
	padding:0;
}


/* iFrame */

iframe{
	border:0;
}
/* = Carousel
-------------------------------------------------------------- */

.carousel{
	display:inline-block;
	vertical-align:bottom;
}
.full-width-bloc .carousel{
	width:100%;
}
.carousel .item img{
	margin-right:auto;
	margin-left:auto;
}
.carousel-control span{
	position: absolute;
	top: 50%;
	z-index: 5;
	display: inline-block;
}
.carousel-control{
	color:#FFF!important;
	text-shadow: none;
}
.carousel-indicators li{
	margin: 0 4px;
}
.carousel-indicators .active{
	margin: 0 4px -1px;
}
.carousel-control.left span{
	margin-left:-15px;
}

/*
	Carousel Cross Fade Transition
*/

.carousel-crossfade .carousel-inner .item {
	opacity: 0;
	transition-property: opacity;
}
.carousel-crossfade .carousel-inner .active {
	opacity: 1;
}
.carousel-crossfade .carousel-inner .active.left,.carousel-crossfade .carousel-inner .active.right {
	left: 0;
	opacity: 0;
	z-index: 1;
}
.carousel-crossfade .carousel-inner .next.left,.carousel-crossfade .carousel-inner .prev.right {
	opacity: 1;
}
.carousel-crossfade .carousel-control {
	z-index: 2;
}
@media all and (transform-3d), (-webkit-transform-3d) {
	.carousel-crossfade .carousel-inner > .item.next,.carousel-crossfade .carousel-inner > .item.active.right {
	opacity: 0;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.carousel-crossfade .carousel-inner > .item.prev,.carousel-crossfade .carousel-inner > .item.active.left {
	z-index:0;
	opacity: 0;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.carousel-crossfade .carousel-inner > .item.next.left,.carousel-crossfade .carousel-inner > .item.prev.right,.carousel-crossfade .carousel-inner > .item.active {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
}

/* ScrollToTop button */

.scrollToTop{
	width:40px;
	height:40px;
	position:fixed;
	bottom:20px;
	right:20px;
	opacity: 0;
	z-index: 500;
	transition: all .3s ease-in-out;
}
.scrollToTop span{
	margin-top: 6px;
}
.showScrollTop{
	font-size: 14px;
	opacity: 1;
}
/* = Lightbox
-------------------------------------------------------------- */

a[data-lightbox]{
	position: relative;
	display: block;
	text-align: center;
}
a[data-lightbox]:hover::before{
	content:"+";
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
	font-size:32px;
	width:50px;
	height:50px;
	margin-left:-25px;
	border-radius: 50%;
	background:rgba(0,0,0,.6);
	color:#FFF;
	font-weight:100;
	z-index: 1;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
a[data-lightbox]:hover img{
	opacity: 0.6;
	-webkit-animation-fill-mode: none;
	animation-fill-mode:none;
}
#lightbox-modal{
	display: flex;
	align-items: center;
}
#lightbox-modal .modal-dialog{
	width:90%;
	max-width:900px;
	margin:0 auto 0;
}
#lightbox-modal .modal-dialog img{
	max-height:90vh;
	margin: 0 auto;
}
.lightbox-caption{
	padding: 20px;
	color: #FFF;
	background: rgba(0,0,0,.5);
	position: absolute;
	left: 15px;
	right: 15px;
	bottom: 5px;
}
.close-lightbox{
	color:#FFF;
	font-size: 30px;
	position: absolute;
	top:20px;
	right:20px;
	z-index: 20;
	background:rgba(0,0,0,.5);
	border:none;
	line-height: 30px;
	padding:0 9px 5px;
	opacity: 0.3;
}
.close-lightbox:hover,.next-lightbox:hover, .prev-lightbox:hover{
	opacity: 1.0;
	color:#FFF;
}
.next-lightbox, .prev-lightbox{
	font-size:20px;
	color:rgba(255,255,255,.9);
	background:rgba(0,0,0,.5);
	transition: all .2s ease-in-out;
	position: absolute;
	top:45%;
	z-index:1;
	opacity: 0.4;
}
.next-lightbox{
	padding:6px 8px 1px 13px;
	right:25px;
}
.prev-lightbox{
	padding:6px 13px 1px 10px;
	left:25px;
}

/* = Custom Styling
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6,p,label,.btn,a{
	font-family:"Roboto";
	font-weight:bold;
	font-size:18px;
	color:#FEFFFF!important;
}
.container{
	max-width:1170px;
}
p{
	line-height:26px;
	color:rgba(0,0,0,0.4)!important;
	font-size:1.3em;
	font-family:"Roboto";
}
h1{
	font-size:400%;
	font-family:"Roboto";
}
h2{
	font-size:5em;
}
.h3b{
	text-transform:uppercase;
	font-size:1.4em;
	font-weight:900;
	font-family:"Roboto";
	text-decoration:none;
	background-color:transparent;
	color:rgba(0,0,0,0.7)!important;
	border-color:rgba(0,0,0,0.0);
}
.img{
	text-shadow:0px 0px 0px #000000;
	padding:20% 20% 20% 20%;
	margin:0px 0px 0px 0px;
}
.h2b{
	font-family:"Roboto";
	font-size:3em;
	text-transform:uppercase;
}
.h4w{
	color:#FEFFFF!important;
	font-size:2.3em;
	font-weight:300;
}
.carousel{
	background-size:auto auto;
}
.imgsm{
	border-style:none;
	background-size:auto auto;
	overflow:visible;
}
.textboxmobile{
	color:#FEFFFE!important;
	font-weight:normal;
}
.textboxmobileblack{
	color:rgba(0,0,0,0.7)!important;
	font-weight:normal;
}
.textmobile2{
	color:transparent!important;
}
..navbar-brand{
	text-transform:uppercase;
	font-size:18px;
	color:#FFFF98!important;
	font-weight:bold;
}
.headercarousel{
	color:transparent!important;
	font-weight:bold;
	text-shadow:0px 0px 0px #FEFFFF;
}
.bodycarousel{
	text-shadow:0px 0px 0px #FEFFFF;
	color:#FEFFFF!important;
}
..globalheader{
	font-family:"Alef";
	font-size:3em;
	font-weight:bold;
	text-transform:uppercase;
}
..navbbar-nav-a{
}
.navbar .nav a{
	color:#FFFFFF!important;
	text-transform:uppercase;
	font-weight:900;
	font-family:"Roboto";
	font-size:1.6rem;
}
.navbar .nav a:hover{
	color:#E5007D!important;
}
.wissenschaftsjahr{
	font-family:"Lato";
	font-weight:300;
}
.h3white{
	color:#FEFFFF!important;
}
.pwhite{
	color:#FEFFFF!important;
}
.bloc-group-text-vc{
	font-size:50px;
	margin-top:20%;
}
.link{
	color:#79B1B8!important;
	font-size:16px;
	line-height:22px;
}
.link:hover{
	color:#EF8100!important;
}
.blocs-mobile-signup-text{
	font-size:33px;
}
.linkblack{
	color:#797979!important;
	font-size:14px;
}
.linkblack:hover{
	color:#E5007D!important;
}
.imgdiv{
	background-image:url("img/münchen_ws1 (1).jpg");
	background-position:right bottom;
	background-repeat:no-repeat;
	background-size:1200px auto;
	background-color:#FF2600;
	height:270px;
	text-transform:none;
	padding:0px 0px 0px 0px;
	border-style:none;
	margin-right:0px;
	margin-left:0px;
	margin-top:25px;
}
.imgdiv:hover{
}
.h2div{
	display:block;
	float:none;
	padding-top:20px;
	padding-left:20px;
	padding-right:20px;
}
.bloctest{
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}
.rowtest{
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}
.imgdiv2{
	background-image:url("img/20180417_163237.jpg");
}
.infotext{
	text-transform:none;
	font-family:"Roboto";
	text-decoration:none;
	text-align:left;
	font-weight:normal;
	border-style:none;
	padding:0px 0px 0px 0px;
	color:#4A4B4B!important;
	line-height:19px;
	font-size:10pt;
}
.ws-digitales-haustier{
	background-size:400px auto;
	height:200px;
	text-shadow:-2px 2px 7px #4C4C4C;
	background-position:center top;
	padding:16px 16px 16px 16px;
	background-repeat:no-repeat;
}
.digitales-haustier{
	background-image:url("img/turing-bus-in-bernau_40502100660_o.jpg");
}
.sensebox{
	background-image:url("img/turing-bus-in-bernau_27439614937_o.jpg");
}
.flugblatt{
	background-image:url("img/turing-bus-in-bernau_42308202631_o.jpg");
	background-position:center center;
}
.gewissensbits{
	background-image:url("img/turing-bus-in-bernau_28435448738_o.jpg");
}
.scienceontour{
	background-image:url("img/IMG_2667.jpg");
}
.infobox{
	border-style:solid;
	border-width:0px 2px 0px 0px;
	padding-right:24px;
	padding-left:0px;
}
.podium-mündig{
	background-image:url("img/turing-bus-in-bernau_27439205327_o.jpg");
	background-position:center top;
}
.blogbuchheader{
	background-image:url("img/Landstraße_nach_Clus_K632_-_panoramio.jpg");
	background-size:auto auto;
}
.lightbox-caption{
	color:#FEFFFF!important;
}
.h3link{
	background-color:#FEFFFF;
	font-size:22px;
	color:#5E5E5E!important;
}
h3link:hover{
}
.h3link:hover{
	color:#E5007D!important;
}
.divhome{
	background-size:500px auto;
	background-repeat:no-repeat;
	height:205px;
	text-align:left;
	background-image:url("img/turing-bus-in-bernau_41586369384_o.jpg");
	background-position:center center;
	margin-top:0px;
	padding-top:19px;
	padding-left:39px;
}
.startvideo{
	height:733px;
	padding:9px 9px 9px 9px;
	max-height:1000px;
	background-position:center bottom;
}
.rowww{
	background-size:auto auto;
}
.carouselstylo{
	max-height:700px;
}
.linkwhite{
	font-size:100%;
}
.linkwhite:hover{
	color:#DE167C!important;
}
.blockquotee{
	font-size:44px;
}
.blogpreviewimg:hover{
	background-color:transparent;
	background-clip:padding-box!important;
	-webkit-background-clip:padding-box!important;
	border-style:solid;
	border-width:2px 2px 2px 2px;
	border-radius:2px 2px 2px 2px;
	border-color:rgba(255,255,255,0.5);
}
.linkblog{
	color:#DF167C!important;
	font-size:18px;
}
.linkblog:hover{
	color:#7DB1B7!important;
}
.podium-cottbus{
	background-image:url("img/turing-bus-in-bernau_41586605824_o.jpg");
}
.ccc{
	background-image:url("img/rob-edit.png");
}
.olafthiele{
	background-image:url("img/olaf-edit.png");
}
.demokratielabore{
	background-image:url("img/demokratielbaore.png");
}
.loeschdich{
	background-image:url("img/loeschdich.png");
}
.mobiletext{
	font-weight:normal;
}
.frithjof{
	background-image:url("img/IMG_20180601_121921.jpg");
	background-position:right center;
}
.podium-constanze{
	background-image:url("img/constanze2.png");
}
.microbit{
	background-image:url("img/microbit.jpeg");
}
.robotergericht{
	background-image:url("img/robotergericht.png");
}
.podium-landsberg{
	background-image:url("img/IMG_-jbmpc6.jpg");
	background-position:center center;
}
.h2link{
	font-size:50px;
	line-height:66px;
	color:#5E5E5E!important;
}
h2link:hover{
}
.h2link:hover{
	color:#DF167D!important;
}
.interview{
	background-color:#EAEAEA;
	border-style:none;
	padding:11px 11px 11px 11px;
}
.profileimg{
	margin:0px 0px 0px 0px;
	padding:20px 20px 20px 20px;
}
.profileimgdiv{
	padding:10px 10px 10px 10px;
}
.matomodisclaimer{
	font-size:11px;
	line-height:12px;
}
.h1mobile{
	text-transform:uppercase;
	font-size:16pt;
}
.caps{
	text-transform:uppercase;
}
.bmbf{
	padding:14px 14px 14px 14px;
}

/* = Colour
-------------------------------------------------------------- */

/* Background colour styles */

.bgc-moonstone-blue{
	background-color:#79B1B8;
}
.bgc-white{
	background-color:#FFFFFF;
}
.bgc-isabelline{
	background-color:#EBEAEA;
}
.bgc-white-2{
	background-color:#FFFFFF;
}
.bgc-black{
	background-color:#000000;
}
.bgc-silver{
	background-color:#C0C0C0;
}

/* Text colour styles */

.tc-white{
	color:#FFFFFF!important;
}
.tc-black{
	color:#000000!important;
}
.tc-davys-grey{
	color:#5E5E5E!important;
}
.tc-white-2{
	color:#FFFFFF!important;
}
.tc-isabelline{
	color:#EBEAEA!important;
}
.tc-silver{
	color:#C0C0C0!important;
}

/* Button colour styles */

.btn-bright-pink{
	background:#E5007D;
	color:#FFFFFF!important;
}
.btn-bright-pink:hover{
	background:#b70064!important;
	color:#FFFFFF!important;
}

/* Link colour styles */

.ltc-bright-pink{
	color:#E5007D!important;
}
.ltc-bright-pink:hover{
	color:#b70064!important;
}

/* Bloc image backgrounds */

.bg-verlauf{
	background-image:url("img/verlauf.jpg");
}
.bg-mbr-7-1620x1080{
	background-image:url("img/mbr-7-1620x1080.jpg");
}
.bg-turing-bus-in-bernau-27439298467-o{
	background-image:url("img/turing-bus-in-bernau_27439298467_o.jpeg");
}
.bg-turing-bus-in-bernau-40501856010-o{
	background-image:url("img/turing-bus-in-bernau_40501856010_o.jpeg");
}
.bg-constanze2{
	background-image:url("img/constanze2.png");
}
.bg-turing-bus-in-bernau-41586416744-o{
	background-image:url("img/turing-bus-in-bernau_41586416744_o.jpeg");
}
.bg-turing-bus-in-bernau-41407107815-o-edit{
	background-image:url("img/turing-bus-in-bernau_41407107815_o-edit.jpg");
}
.bg-turing-bus-in-bernau-28435448738-o{
	background-image:url("img/turing-bus-in-bernau_28435448738_o.jpg");
}
.bg-uelzen{
	background-image:url("img/uelzen.png");
}
.bg-IMG-20180601-121921{
	background-image:url("img/IMG_20180601_121921.jpg");
}
.bg-Turing-Bus-20Garz-Rügen-20-281-29{
	background-image:url("img/Turing-Bus%20Garz_Rügen%20%281%29.jpg");
}
.bg-Constanze-Kurz-vor-20SchülerInnen-20--20Foto-20Frithjof-20Nagel-20-28c-29-20GI{
	background-image:url("img/Constanze_Kurz_vor%20SchülerInnen%20-%20Foto%20Frithjof%20Nagel%20%28c%29%20GI.jpg");
}
.bg-20180626-121253-20copy{
	background-image:url("img/20180626_121253%20copy.jpg");
}
.bg-turing-bus-in-bernau-42261209942-o{
	background-image:url("img/turing-bus-in-bernau_42261209942_o.jpeg");
}
.bg-20180417-163248{
	background-image:url("img/20180417_163248.jpg");
}
.bg-turing-bus-in-bernau-42308202631-o{
	background-image:url("img/turing-bus-in-bernau_42308202631_o.jpeg");
}
.bg-IMG-2667{
	background-image:url("img/IMG_2667.jpg");
}
.bg-microbit{
	background-image:url("img/microbit.jpeg");
}
.bg-turing-bus-in-bernau-28435448738-o{
	background-image:url("img/turing-bus-in-bernau_28435448738_o.jpeg");
}
.bg-rob{
	background-image:url("img/rob.png");
}
.bg-loeschdich{
	background-image:url("img/loeschdich.png");
}
.bg-IMG-2685{
	background-image:url("img/IMG_2685.JPG");
}
.bg-20180626-122138-20copy{
	background-image:url("img/20180626_122138%20copy.jpg");
}
.bg-münchen-ws1-20-281-29-202{
	background-image:url("img/muenchen.jpg");
}




/* = Mobile adjustments 
-------------------------------------------------------------- */
@media (max-width: 1024px)
{
    .bloc{
        padding-left: 20px; 
        padding-right: 20px;  
    }
    .bloc.full-width-bloc, .bloc-tile-2.full-width-bloc .container, .bloc-tile-3.full-width-bloc .container, .bloc-tile-4.full-width-bloc .container{
        padding-left: 0; 
        padding-right: 0;  
    }
}
@media (max-width: 992px) and (min-width: 768px)
{
    .navbar .nav{
		max-width:80%
    }
	.nav-center.navbar .nav{
		max-width:100%
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {.b-parallax{background-attachment:scroll;}}
@media (max-width: 991px)
{
    .container{width:100%;}
    .b-parallax{background-attachment:scroll;}
    .page-container, #hero-bloc{overflow-x: hidden;position: relative;} /* Prevent unwanted side scroll on mobile */
    .bloc{padding-left: constant(safe-area-inset-left);padding-right: constant(safe-area-inset-right);} /* iPhone X Notch Support*/
    .bloc-group, .bloc-group .bloc{display:block;width:100%;}
    .bloc-fill-screen .fill-bloc-top-edge, .bloc-fill-screen .fill-bloc-bottom-edge{padding:0 20px;padding-left: constant(safe-area-inset-left);padding-right: constant(safe-area-inset-right);}
}
@media (max-width: 767px)
{
    .page-container{
        overflow-x: hidden;
        position:relative;
    }
    h1,h2,h3,h4,h5,h6,p,#disqus_thread{
        padding-left:10px!important; 
        padding-right:10px!important; 
    }
    .b-parallax{
        background-attachment:scroll;
    }
    .navbar .nav{
        padding-top: 0;
        border-top:1px solid rgba(0,0,0,.2);
        float:none!important;
    }
    .navbar.row{
        margin-left: 0;
        margin-right: 0;
    }
    .site-navigation{
	   position:inherit;
	   transform:none;
	   -webkit-transform:none;
	   -ms-transform:none;
    }  
    .nav > li{
        margin-top: 0;
        border-bottom:1px solid rgba(0,0,0,.1);
        background:rgba(0,0,0,.05);
        text-align: left;
        padding-left:15px;
        width:100%;
    }
    .nav > li:hover{
        background:rgba(0,0,0,.08);
    }
    .dropdown .dropdown a .caret{   
        float: none;
        margin: 5px 0 0 10px!important;
        border: 4px solid black;
        border-bottom-color: transparent;
        border-right-color: transparent;
        border-left-color: transparent;
    }
    
    #hero-bloc .navbar .nav{
        background:rgba(0,0,0,.8);
    }
    #hero-bloc .navbar .nav a{
        color:rgba(255,255,255,.6);
    }
    .hero{
        padding:50px 0;
    }
    .hero-nav{
        left:-1px;
        right:-1px;
    }
    .navbar-collapse{
        padding:0;
        overflow-x: hidden;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-brand img{
        max-height: 40px;
        width:auto;   
    }
    .nav-invert .navbar-header{
        float: none;
        width:100%;
    }
    .nav-invert .navbar-toggle{
        float:left; 
        margin-left:10px;
    }
    .bloc{
        padding-left: 0; 
        padding-right: 0;
    }
    .bloc-xxl,.bloc-xl,.bloc-lg{
        padding: 40px 0;
    }
    .bloc-sm,.bloc-md{
        padding-left: 0; 
        padding-right: 0;
    }
    .bloc-tile-2 .container, .bloc-tile-3 .container, .bloc-tile-4 .container, .bloc-fill-screen .fill-bloc-top-edge, .bloc-fill-screen .fill-bloc-bottom-edge{
        padding-left:0;padding-right:0;
    }
    .a-block{
        padding:0 10px;
    }
    .btn-dwn{
       display:none; 
    }
    .voffset{
        margin-top:5px;
    }
    .voffset-md{
        margin-top:20px;
    }
    .voffset-lg{
        margin-top:30px;
    }
    form{
        padding:5px;
    }
    .close-lightbox{
        display:inline-block;
    }
    .video-bg-container{
        display:none;
    }
    .blocsapp-device-iphone5{
	   background-size: 216px 425px;
	   padding-top:60px;
	   width:216px;
	   height:425px;
    }
    .blocsapp-device-iphone5 img{
	   width: 180px;
	   height: 320px;
    }
}

@media (max-width: 400px)
{    
    .bloc{
        padding-left: 0; 
        padding-right: 0;
    }
}

@media (max-width: 991px){
	.bloc-group-text-vc{
	margin-top:0%;
}
 #bloc-20 h4{
	font-size: 30px;
	line-height: 2px;
}
#bloc-22 h4{
	font-size: 30px;
	line-height: 2px;
}
#bloc-24 h4{
	font-size: 30px;
	line-height: 2px;
}
#bloc-28 h4{
	font-size: 30px;
	line-height: 2px;
}
#bloc-30 h4{
	font-size: 30px;
	line-height: 2px;
}
#bloc-32 h4{
	font-size: 30px;
	line-height: 2px;
}
#bloc-35 h4{
	font-size: 30px;
	line-height: 2px;
}
#bloc-37 h4{
	font-size: 30px;
	line-height: 2px;
}
#bloc-39 h4{
	font-size: 30px;
	line-height: 2px;
}
#bloc-54 h4{
	font-size: 30px;
	line-height: 2px;
}
#bloc-56 h4{
	font-size: 30px;
	line-height: 2px;
}
#bloc-58 h4{
	font-size: 30px;
	line-height: 2px;
}
#bloc-60 h4{
	font-size: 30px;
	line-height: 2px;
}
}
/* Drop Down Navigation */
@media (min-width: 767px) and (max-width: 991px){
	
.mini-nav .special-dropdown-nav .site-navigation{
	display: block;
	position: absolute;
	top: 80%;
	z-index: 1000;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.mini-nav .special-dropdown-nav .site-navigation li{
	width:100%;
}
.special-dropdown-nav.collapsing{
	transition: height 0.001s;
}
.mini-nav .special-dropdown-nav .site-navigation li a{
	color: rgba(0,0,0,.6)!important;
}
 }
@media (max-width: 767px){
	.textboxmobile{
	text-shadow:0px 0px 0px #000000;
	margin-left:10px;
	margin-bottom:25px;
	padding-right:10px;
	padding-left:10px;
	margin-right:10px;
	font-size:12px;
	line-height:18px;
}
.imgmobile{
	background-position:center center;
	float:none;
	margin:36px 10px 36px 10px;
	padding-right:10px;
	padding-left:10px;
}
.bloc-mob-center-text{
	text-align:center;
}
.textboxmobileblack{
	background-clip:padding-box!important;
	-webkit-background-clip:padding-box!important;
	border-style:none;
	float:none;
}
.carouselstyle{
	background-repeat:repeat;
}
.bloc-group-text-vc{
	margin-top:0%;
}
.blocs-mobile-signup-text{
	text-align:center;
	font-size:20px;
}
.ws-digitales-haustier{
	margin:15px 15px 15px 15px;
}
.mobiletext{
	font-size:12px;
	line-height:18px;
	margin-right:10px;
	margin-left:10px;
	padding-right:10px;
	padding-left:10px;
}
.blogpreviewimg{
	padding-right:20px;
	padding-left:20px;
}
.h1mobile{
	padding-right:10px;
	padding-left:10px;
	margin-right:10px;
	margin-left:10px;
	color:#000000!important;
	font-size:23px;
	text-transform:uppercase;
}
.h1mobilewhite{
	padding-right:10px;
	padding-left:10px;
	margin-right:10px;
	margin-left:10px;
	font-size:23px;
	line-height:120%;
}
.linkblog{
	font-size:100%;
}
.h2mobilewhite{
	margin-right:10px;
	margin-left:10px;
	font-size:40px;
	padding-right:10px;
	padding-left:10px;
}
.profileimg{
	padding:20px 20px 20px 20px;
	margin:61px 61px 61px 61px;
}
.profileimgdiv{
	padding:10% 10% 10% 10%;
}
.bmbf{
	padding:10px 10px 10px 10px;
}
.footertext{
	font-size:9px;
	line-height:12px;
}
 
/* Mobile Text Margin Offsets */
.mg-sm-xs{
	margin-top:10px;
	 margin-bottom:5px;
}
.mg-md-xs{
	margin-top:10px;
	 margin-bottom:20px;
}
.mg-clear-xs{
	margin:0;
}
#bloc-1 h3{
	font-size: 12px;
	line-height: 18px;
}
#bloc-3 h3{
	font-size: 20px;
}
#bloc-3 p{
	font-size: 12px;
	line-height: 18px;
}
#bloc-4 h4{
	font-size: 24px;
}
#bloc-4 p{
	font-size: 12px;
	line-height: 18px;
}
#bloc-17 h2{
	font-size: px;
	line-height: px;
}
#bloc-17 p{
	font-size: 12px;
}
#bloc-20 h4{
	font-size: 50px;
	line-height: 66px;
}
#bloc-22 h4{
	font-size: 50px;
	line-height: 66px;
}
#bloc-24 h4{
	font-size: 50px;
	line-height: 66px;
}
#bloc-28 h4{
	font-size: 50px;
	line-height: 66px;
}
#bloc-30 h4{
	font-size: 50px;
	line-height: 66px;
}
#bloc-32 h4{
	font-size: 50px;
	line-height: 66px;
}
#bloc-33 h2{
	font-size: 30px;
	line-height: px;
}
#bloc-33 p{
	font-size: 12px;
}
#bloc-35 h4{
	font-size: 50px;
	line-height: 66px;
}
#bloc-37 h4{
	font-size: 50px;
	line-height: 66px;
}
#bloc-39 h4{
	font-size: 50px;
	line-height: 66px;
}
#bloc-54 h4{
	font-size: 50px;
	line-height: 66px;
}
#bloc-56 h4{
	font-size: 50px;
	line-height: 66px;
}
#bloc-58 h4{
	font-size: 50px;
	line-height: 66px;
}
#bloc-60 h4{
	font-size: 50px;
	line-height: 66px;
}
#bloc-61 h3{
	font-size: 22px;
}
#bloc-64 p{
	font-size: 12px;
	line-height: 18px;
}
/* = Text Mobile Alignment Classes
-------------------------------------------------------------- */
.text-center-xs{
	text-align:center;
}
}

